/*
 * FONTS
 * font-family: 'Indie Flower', cursive;
 * font-family: 'Open Sans', sans-serif;
 */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,400,600');

body {
  font-family: 'Open Sans', sans-serif;
}

.top-menu {
  height: 120px;
  display: flex;
  align-items: center;
}

.icon {
  color: #C4C4C4 !important;
}

.icon:hover {
  color: #9C9C9C !important;
}

.hero {
  text-align: center;
  padding-bottom: 30px;
}

.hero h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image.small {
  width: 100px;
  height: auto;
  display: inline;
}

.product-header {
  text-align: center;
  margin-bottom: 10px;
}

.product-header h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #4A4A4A;
  margin: 0;
  margin-bottom: 6px;
}

.product-header h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  color: #838383;
  margin: 0;
}

.product-header.small {
  text-align: left;
  display: inline-block;
}

.product-header.small h2 {
  font-size: 18px;
}

.product-header.small h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.product-rating {
  display: inline;
}

.product-info {
  display: flex;
  align-items: center;
}

.star {
  margin: 0px 4px;
}

.price-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #888888;
}

.price-label.cart {
  font-size: 24px;
  font-weight: 600;
  color: #4A4A4A;
}

.product-image, .star, .logo, .icon {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.add-to-cart-button {
  width: 190px;
  height: 48px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  color: #25D168;
  font-size: 18px;
  border: 1px solid #25D168;
  outline: none;
}

.add-to-cart-button:hover {
  background-color: #25D168;
  color: #FFFFFF;
}

.product-quantity {
  width: 188px;
  height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #25D168;
}

.quantity-button {
  width: 47px;
  height: 47px;
  margin: 0 !important;
  border: none;
  background-color: #25D168;
  color: #FFF;
  outline: none;
}

.quantity-button.small {
  width: 20px;
  height: 20px;
  margin: 20px !important;
  background-color: #FFF !important;
  color: #4A4A4A;
}

.product-quantity.small {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
}

.cart-list {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.total-price {
  display: inline-block;
  width: 240px;
}

.total-price span {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 10px;
}

.total-price h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}

button.large {
  width: 190px;
  height: 48px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  color: #25D168;
  font-size: 18px;
  border: 1px solid #25D168;
  outline: none;
  display: inline-block;
}
